
/* <!-- ======================================= 
==Container-Responsibe-CSS==  
=======================================--> */
/* 
.blog-section:before {
--bg-gradient: linear-gradient(126.05deg,rgb(241 42 42/90%) 25.95%,#bf1ceb 44.46%,#06ad57 65.35%,rgb(6 173 87/60%) 76.7%);
background-image: linear-gradient(286deg,rgb(27 231 255/50%) 25.99%,#e47aff 64.62%,rgb(109 19 255/60%) 80.2%);
background-image: var(--bg-gradient);
background-repeat: no-repeat;
background-size: 100% 100%;
border-radius: 100%;
content: "";
filter: blur(100px);
left: 0;
margin-left: auto;
margin-right: auto;
position: absolute;
right: 0;
top: 50px;
z-index: -1;
height: 50vh;
opacity: .3;
width: 70vw;
} */

/* .skill-section:before {
--bg-gradient: linear-gradient(326.05deg,rgb(241 42 42/90%) 25.95%,#bf1ceb 44.46%,#06ad57 65.35%,rgb(6 173 87/60%) 76.7%);
background-image: linear-gradient(130deg,rgb(27 231 255/50%) 25.99%,#e47aff 64.62%,rgb(109 19 255/60%) 80.2%);
background-image: var(--bg-gradient);
background-repeat: no-repeat;
background-size: 100% 100%;
border-radius: 100%;
content: "";
filter: blur(100px);
left: 200px;
margin-left: auto;
margin-right: auto;
position: absolute;
right: 0;
z-index: -1;
height: 80vh;
opacity: .2;
width: 60vw;
} */


@media (min-width: 1024px) {
    

    

   

   
    .hg-img-hero {
        width: 608px;
    }

   
   

    .marge-prueba {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    



    .section-title1 {
        font-size: 65px;
    }

    .single-skill {
        max-width: 460px;
    }

    .blog-section .single-blog .post-title h3 {
        font-size: 17px;
        line-height: 1.3;
    }

    .card__wrapper {
        display: flex;
        margin-bottom: 0;
    }

    .card__hero-wrapper {
        flex: 1 1 60%;
        margin-right: 1.5rem;
        margin-bottom: 0;
    }

    .card__hero-content {
        padding: 1.5rem;
    }

    .card__articles {
        flex: 1 1 40%;
        height: 91px;
    }

    .card__article-image {
        width: 150px;
    }

    .card__article-title-wrapper {
        padding: 1rem 0.5rem 1rem 1.625rem;
        margin-right: 200px;
    }

    .game-badge--small {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 1280px) {
    

    .header {
        padding-left: 60px;
        padding-right: 60px;
    }

    .count {
        right: -110px;
        font-size: 100px;
    }



    .section-title1 {
        font-size: 80px;
    }

   

    .single-skill {
        max-width: 400px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .count {
        right: -82px;
        font-size: 110px;
    }

  
    .section-title1 {
        font-size: 95px;
        margin-left: -5px;
    }

    

    .single-skill {
        max-width: 400px;
    }

}

@media (max-width: 991px) {
    .skill-wrapper {
        display: block;
        max-width: 300px;
    }

    .skill-wrapper .vertical-line {
        left: 0px;
    }

    .single-skill {
        max-width: 100%;
        width: calc(100% - 30px);
        margin-left: 30px;
    }

    .single-skill span.circle {
        left: -39px;
        right: inherit;
    }

    .single-skill span.rectengle {
        left: -32px;
        right: inherit;
        background: linear-gradient(to right, rgba(78, 78, 78, 0.50) 0%, rgba(0, 0, 0, 0) 50%);
    }

    .single-skill.animated:nth-child(odd) {
        transform: translate(0, 0);
    }

    .single-skill:nth-child(odd) span.rectengle {
        right: inherit;
        left: -32px;
        background: linear-gradient(to right, rgba(78, 78, 78, 0.50) 0%, rgba(0, 0, 0, 0) 50%);
    }

    .single-skill:nth-child(odd) span.circle {
        right: inherit;
        left: -39px;
    }
}

@media (max-width: 767px) {
    .blog-section .section-title {
        margin-bottom: 0;
    }

    .blog-section .blog-wrapper {
        margin-left: 0;
    }

    .blog-section .single-blog {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .blog-section .blog-wrapper {
        display: block;
    }
}

/* <!-- ======================================= 
==End-Container-Responsibe-CSS==  
=======================================--> */
