        .container{
            padding-left: 15px;
            padding-right: 15px;
        }
        .header {
            display: flex;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;
            justify-content: space-between;
            align-items: center;
            box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px 0px;
            position: relative;
            z-index: 2;
        }
        .h-img-logo {
            height: 27px;
        }        
        .nav-hidden {
            display: none;
        }
        .dk-hero-hidden{
            display: none;
        }   
        .ctn-btn{
            gap: 5px;
        }    
        .btn {
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 20px;
            padding-right: 20px;
            --border-opacity: 1;
            border-color: rgba(168, 168, 170, var(--border-opacity));
            border-radius: 9999px;
            border-width: 1px;
            border-style: solid;
            /* background: linear-gradient(to right,#f969fc,#bc01f0,#43b1c8); */
        }    
        .btn1{
            padding-top: 11px;
            padding-bottom: 11px;
            padding-left: 20px;
            padding-right: 20px;
            --border-opacity: 1;
            border-color: rgba(168, 168, 170, var(--border-opacity));
            border-radius: 9999px;
            border-width: 1px;
            border-style: solid;
            display: inline-flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            position: relative;
            z-index: 2;
            background: linear-gradient(to right,#f969fc,#bc01f0,#43b1c8);
        }   
        .btn:hover {
            border-color: #fff;
            opacity: 0.9;
        }
        .btn1:hover {
            opacity: 0.9;
            border-color: #fff;
        }
        
        .img-bash-1{
            padding: 0 7px 0 0;
            width: 50px;
        }
        .social-icon {
            position: absolute;
            right: 6px;
            bottom: 0;
            top: 60px;
            z-index: 2;
            height: 125px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            border-radius: 999px;
            position: fixed;
            z-index: 10;
        }
        .social-icon li {
            display: block;
        }
        .social-icon li a {
            width: 37px;
            height: 40px;
            border-radius: 100%;
            color: #fff;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 0.5s ease;
        }
        .social-icon li a svg {
            width: 15px;
            }  
        .bash-linea {
            border-bottom: 1px solid #5c5b5b;
            padding-bottom: 10px;
            padding-top: 10px;
        } 
        .pd-info{
            padding: 0 0 0 10px;
        }
        .img-area {
            position: relative;
        }
        .portfolio-content {
            width: 100%;
            padding-left: 0px;
            margin-top: 30px;
        }
        .single-portfolio {
            display: block;
            flex-flow: row wrap;
            align-items: center;
            padding-bottom: 50px;
        }
        .portfolio-type {
            letter-spacing:1px;
            color: #D1AC90;
            margin-bottom: 1.75em;
            align-items: center;
    display: flex;
    gap: 5px;
        }
        .icon-tec{
            border: 1px solid rgba(255, 255, 255, 0.1) !important;
            border-radius: 50%;
            height: 40px;width: 40px;
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .img-icon-tec{
            height: 30px;
            width: 30px;
        }
        .portfolio-content p {
            color: #ababab;
            line-height: 1.6;
            text-align: justify;
            margin-bottom: 15px;
        }
        .img-area img{
            border-radius: 8px;
        }
        .link-btn {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            display: inline-flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            position: relative;
            z-index: 2;
            --border-opacity: 1;
            border-color: rgba(168, 168, 170, var(--border-opacity));
            border-width: 1px;
            border-style: solid;
        }
        .link-btn:hover {
            border-color: #fff;
        }
        .count {
            font-family: 'Futura Md BT';
            position: absolute;
            right: -30px;
            font-size: 90px;   
            top: -20px;          
            line-height: 0.9;
            font-weight: 900;
            color: rgb(71, 67, 67);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;   
            
        }
        .skill-section .count{
            opacity: 0.3;
        }
        .section-title{
        -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            position: relative;
            top: 25px;
            left: -3px;
            font-size: 50px;
            color: rgb(71, 67, 67);
            z-index: 2;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
            font-family: 'Futura Md BT';
            padding-bottom: 50px;
        }  
        .section-title1{
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            top: 0;
            left: 0;
            font-size:50px; 
            color: #4A4545;
            margin-bottom: 50px;
            z-index: 2;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;     
            font-family: 'Futura Md BT';
        }    
        .single-portfolio:nth-child(even) {
            flex-flow: row-reverse;
        }       
        .single-portfolio:nth-child(even) .portfolio-content {
            padding-left: 0;
            padding-right: 0px;
        }
        .single-portfolio:nth-child(even) .img-area .count {
            left: -70px;
            right: inherit;
        }
        
        .skill-wrapper {
            position: relative;
            max-width: 1130px;
            margin: 0 auto;
            z-index: 2;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
        }
        .vertical-line {
            display: block;
            height: calc(100% + 70px);
            width: 1px;
            background: #f43534;
            position: absolute;
            left: 50%;
            top: -35px;
        }
        .vertical-line:before,
        .vertical-line:after{
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background: #f43534;
            left: -6px;
        }
        .vertical-line:before{
            top: 0;
        }
        .vertical-line:after{
            bottom: 0;
        }
        .single-skill {
            width: 50%;
            max-width: 535px;
            margin-bottom: 15px;
            background: rgb(255, 255, 255, 0.9%);          
            padding: 15px 20px 15px;
            border-radius: 5px;
            border: 1px solid rgb(71, 67, 67);
            position: relative;
            z-index: 1;
            align-self: stretch;
        }  
        .single-skill.animated:nth-child(odd) {
            transform: translate(0, 50px);
        }
        .single-skill p {
            line-height: 1.6;
            margin-top: 12px;
            color: #ababab;
        }
        .single-skill h3{
            position: relative;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: flex-start;
        }
        .single-skill h3 .line {
            display: block;
            position: relative;
            top: 5px;
            margin-left: 30px;
            height: 2px;
            background: linear-gradient(to right,  rgba(78,78,78,1) 0%,rgba(15,15,15,0) 81%,rgba(0,0,0,0) 100%);
        }
        .single-skill span.circle {
            display: block;
            width: 14px;
            height: 14px;
            background: #f43534;
            border-radius: 100%;
            position: absolute;
            top: 32px;
            right: -39px;
            z-index: 2;
            box-shadow: 0 0px 0px 8px #333;
        }
        .circl {
            display: block;
            width: 12px;
            height: 12px;
            background: #f43534;
            border-radius: 100%;
            position: absolute;
            left: -5px;
            z-index: 2;
            box-shadow: 0 0px 0px 8px #333;
        }
        .single-skill:nth-child(odd) span.circle{
            right: inherit;
            left: -39px;
        }
        .single-skill span.rectengle {
            position: absolute;
            top: 25px;
            right: -30px;
            height: 30px;
            width: 100px;
            background: linear-gradient(to right, rgba(0,0,0,0) 1%,rgba(78,78,78,0.50) 99%,rgba(78,78,78,1) 10%);
            z-index: -1;
        }
        .single-skill:nth-child(odd) span.rectengle{
            right: inherit;
            left: -30px;
            background: linear-gradient(to right,  rgba(78,78,78,0.30) 99%,rgba(0,0,0,0) 100%);
        }
        .link-default {
            display: inline-block;
            color: #fff;
            font-weight: 500;
            margin-top: 37px;
          }
        .link-default span {
            height: 53px;
            width: 53px;
            background: #f43534;
            border-radius: 100%;
            display: inline-flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
          }
        .link-default:hover span{
            animation: button_pulse 1.5s infinite cubic-bezier(.25, 0, 0, 1);
          }
        @-webkit-keyframes button_pulse {
            0% {
                box-shadow: 0 0 0 0px rgba(244, 53, 52, 1);
            }
            100% {
                box-shadow: 0 0 0 20px rgba(244, 53, 52, 0);
            }
          }
        @keyframes button_pulse {
            0% {
                box-shadow: 0 0 0 0px rgba(244, 53, 52, 1);
            }
            100% {
                box-shadow: 0 0 0 20px rgba(244, 53, 52, 0);
            }
          }  
          
        .blog-section{
            position: relative;
            padding-top: 50px;        
            overflow: hidden;
        }    
        .blog-section .ellipse {
            position: absolute;
            top: 10px;
            left: 200px;
            max-width: 590px;
            z-index: 1;
            opacity: 0.5;
            animation: ellipse-animate 2s linear infinite;
        }  
        @-webkit-keyframes ellipse-animate {
            0% {transform: rotate(40deg)}
            100% {transform: rotate(350deg)}
        }  
        @keyframes ellipse-animate {
            0% {transform: rotate(40deg)}
            100% {transform: rotate(350deg)}
        }   
        .blog-section .section-title{
            position: relative;
            top: 0;
            margin-bottom: 50px;
        }
        .blog-section .blog-wrapper{
            position: relative;
            z-index: 2;
            display: flex;
            flex-flow: row;
            margin-left: -20px;
            padding-bottom: 50px;
        }
        .blog-section .single-blog{
            width: calc(100% / 4 - 20px);
            margin-left: 20px;
            background-color: rgba(128, 128, 128, .2);
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            border-radius: 8px;
        }
        .featured-img img{
            border-radius: 8px;
        }
        .blog-section .single-blog .featured-img img {
            width: 100%;
            /* opacity: 0.6; */
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all 0.5s ease;
        }
        .blog-section .single-blog:hover .featured-img img {
            opacity: 1;
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
        .blog-section .single-blog.title{
            background: transparent;
            padding-top: 40px;
            padding-left: 7px;
            display: block;
        }
        .blog-section .single-blog .post-title {
            padding: 24px 30px 30px;
        }
        .blog-section .single-blog .post-title h3{
            font-size: 16px;
            line-height: 1.3;
        }
        
        .blog-section .single-blog .post-title h3 a{
            color: #fff;
        }
        .blog-section .single-blog .post-title h3 a:hover{
            color: #f43534;
        }
        .blog-section .single-blog .like-comment{
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            padding: 20px 30px;
            border-top: 1px solid #4e5056;
            position: relative;      
        }
        .blog-section .single-blog .like-comment .read-more {
            width: 45px;
            height: 45px;
            border: 1px solid #4e5056;
            display: flex;
            border-radius: 100%;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -24px;
            left: 50%;
            transform: translateX(-50%);
            background: #2d2f32;
        }
        .blog-section .single-blog .like-comment .read-more:hover {
            background: #f43534;
            border-color: #f43534;
        }
        .blog-section .single-blog .like-comment span {
            color: #8b8a8a;
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;
        }
        .img-space{
            margin-right: 8px;
        }
        .card{
            position: relative;
            z-index: 2;
            padding-bottom: 50px;
        }
        .card__hero-wrapper{
            margin-bottom: 15px;
        }
        .card__hero {
            display: block;
            position: relative;
            border-radius: 8px;
        }
        .card__article-card,
        .card__hero {
            background-color: rgba(128, 128, 128, .2);
        }
        .card__hero .responsive-media {
            box-shadow: 0 4px 4px rgb(10 10 10 / 15%);
            border-radius: 8px;
            position: relative;
        }
        .responsive-media {
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: 62%;
            text-align: left;
            width: 100%;
        }
        .card__hero .responsive-media::before {
            content: '';
            border-radius: 8px;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 1;
            background: linear-gradient( 
            180deg, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, .4) 75%);
        }
        .card__hero-content {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1rem;
            z-index: 2;
        }
        .card__category {
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: .08em;
            font-size: 12px;
            color: rgba(101, 100, 98, .9);
        }
        .game-badge {
            width: 40px;
            height: 40px;
            background-color: #141212;
            border-radius: 50%;
        }
        .card__badge {
            position: absolute;
            left: 8px;
            top: 8px;
        }
        .icon {
            display: inline-block;
            vertical-align: middle;
            font-style: normal;
        }
        .icon svg {
            vertical-align: top;
            height: auto;
        }
        .card__articles {
            display: grid;
            gap: 10px;
        }
        .card__article {
            box-shadow: 0 4px 4px rgb(10 10 10 / 15%);
            border-radius: 8px;
        }
        .card__article-card {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            min-height: 90px;
        }
        .card__article-image {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 120px;
            clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
            background-size: cover;
            background-position: center;
            border-radius: 0 8px 8px 0;
        }
        .card__article-title-wrapper {
            padding: 0.5rem 0.5rem 0.5rem 1rem;
            margin-right: 120px;
        }
        .card__badge--top-right {
            position: absolute;
            right: 8px;
            top: 8px;
        }
        .game-badge--small {
            width: 24px;
            height: 24px;
        } 
        .card__article-card::after,
        .card__hero::after {
            content: '';
            border-radius: 8px;
            top: -4px;
            left: -4px;
            right: -4px;
            bottom: -4px;
            padding: 2px;
            color: #f9f9f9;
            display: block;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            transition: opacity .1s ease-out;
            background: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .4));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
        }
        .card__article-card:hover::after, .card__hero:hover::after {
            opacity: 1;
        }
        .footer-section{
            padding-top: 50px;
            position: relative;
            z-index: 2;
        }
        .ctn-logo{
            padding-bottom: 3rem;
        }
        .bg-icon{
            background-color: rgba(128, 128, 128, .2);
            width: 3rem;
            height: 3rem;
            border-radius: 9999px;
        }
        .ctn-icon{
            gap: 10px;
        }
        .p-footer{        
            border-top: 1px solid;
            --tw-border-opacity: 1;
            border-color: rgba(92, 91, 91, var(--tw-border-opacity));
            padding-top: 3rem;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;

        }
        .text-gray{
            --tw-text-opacity: 1;
            color: rgba(124, 124, 127, var(--tw-text-opacity));
        }


        [contenteditable="true"]:empty:before {
            content: attr(placeholder);
        }
        .contact-form {
            padding-bottom: 3rem;
        }
        .contact-title{
            margin-bottom: 25px;
        }
        .contact-text{
            margin-bottom: 17px;
        }
        .contact__input {
            border-bottom: 1px solid #999999;
            color: #999999;
            display: inline-block;
            cursor: text;
        }
        .description {
            line-height: 1.67;
        }
        .contact__wrap-checkbox {
            position: relative;
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
        .contact__label {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            margin: 0;
            cursor: pointer;
        }
        .contact__label::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 5px;
            background: #f2f2f2;
        }
        .contact__link, .contact__span-checked {
            display: inline;
            cursor: pointer;
            color: #999999;
        }
        .contact__checkbox:checked + .contact__label::before {
            background: #f2f2f2 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgM0w1IDdMMTEgMSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+) no-repeat center;
        }
        .contact-checkbox{
            padding-bottom: 50px;
        }
        .ctn-social{
display: flex;
        }
        .ctn-social a{
            width: 46px;
              height: 46px;
              border-radius: 100%;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
          }



